<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="MDD80" />
  <package id="cordova.TypeScript.DefinitelyTyped" version="2.3.1" targetFramework="MDD80" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.1.7" targetFramework="MDD80" />
</packages>